VITE_SUPABASE_URL=https://fuenxerwefmwiaonrxkc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ1ZW54ZXJ3ZWZtd2lhb25yeGtjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg0MzIyOTQsImV4cCI6MjEwNDAwODI5NH0.0-buZqmJj2NKGvlrSHhGudBx32HRYvdjoyLEYM_QB54
